# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment and secrets
.env
.env.*

# macOS
.DS_Store

# IDE settings
.vscode/

# Logs
*.log